img {
    display: inline-flex;
    width: 1em;
    height: 1em;
    border-radius: 200%;
    z-index: 0;
}


.circles {
    position: absolute;
    display: flex;
    flex-direction: column;
    filter: blur(80px);
    z-index: -2;

}

.circle1 {
    width: 400px;
    height: 50vh;
    border-radius: 50%;
    background: radial-gradient(circle, #542484 0%, rgba(245, 245, 245, 1) 87%);
    animation: slidein 4s infinite alternate;
}

.circle2 {
    position: absolute;
    width: 400px;
    height: 50vh;
    border-radius: 50%;
    left: 30px;
    /* left: 200px; */
    background: radial-gradient(circle, rgba(255, 216, 75, 1) 0%, rgba(249, 249, 249, 1) 100%);
    animation: slidein2 4s infinite alternate;
}

@keyframes slidein {
    from {
        top: 0px;
        right: 0px;

    }

    to {
        top: 50px;
        right: 100%;
        width: 200%;
    }
}

@keyframes slidein2 {
    from {
        bottom: 50px;
        left: 100%;
        width: 200%;

    }

    to {
        bottom: 0px;
        left: 20px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    z-index: 1;
    height: 100vh;
}