.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 5%;
}

.nav-items {
    list-style: none;
    display: flex;
    font-size: .7em;
    font-weight: 600;
    color: #542484;
    text-decoration: none;
}

.nav-items>li {
    padding: 20px;
}