.nav {
    width: 95%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;
    backdrop-filter: blur(15px);
    border-radius: 20px;
}

.icon-container {
    padding-left: 2%;
}

.nav-items {
    list-style: none;
    display: flex;
    font-size: .7em;
    font-weight: 600;
    color: #542484;
    text-decoration: none;
}

.nav-items>li:hover {
    font-style: italic;
}

.nav-items>li {
    padding: 0px 20px 0px 20px;
}

html {
    scroll-behavior: smooth;
}