.nav {
    width: 95%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;
    backdrop-filter: blur(15px);
    border-radius: 20px;
}

.abt-nav {
    width: 95%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;
    backdrop-filter: blur(15px);
    border-radius: 20px;
}

.icon-container {
    padding-left: 2%;
}

.nav-items {
    list-style: none;
    display: flex;
    font-size: .7em;
    font-weight: 600;
    text-decoration: none;
}

.nav-items>li:hover {
    font-style: italic;
}

.abt-favi {
    width: 7.5%;
    height: 70%;
}

.favi {
    width: 7.5%;
    height: 70%;
}

.nav-items>li {
    color: #542484;
    padding: 0px 20px 0px 20px;
}

html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 414px) {

    .nav {
        width: 75%;
    }

    .abt-nav {
        width: 100%;
    }

    .abt-favi {
        width: 60%;
        height: 70%;
    }

    .favi {
        width: 60%;
        height: 70%;
    }
}